@charset "UTF-8";

// Variables
@import "variables";
@import "navbar";
@import "filter";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: "Space Grotesk", sans-serif;
    color: black;
    background-color: white;
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #ff0000;
}

button {
    cursor: pointer;
    font-family: "Space Grotesk", sans-serif;

    &:disabled {
        cursor: auto;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    text-decoration: none;
    color: #000000;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

hr {
    border: none;
    margin: 0;
}

u {
    text-underline-position: from-font;
}

picture {
    line-height: 0;
    display: block;

    img {
        width: 100%;
    }
}

.Text-Style-6 {
    font-family: Montserrat;
    font-size: 50px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: -1px;
    color: #373737;
}
.Text-Style-2 {
    font-family: Montserrat;
    font-size: 35px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.26;
    letter-spacing: -0.7px;
    color: #191919;
}
.Text-Style-4 {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #eb0a1e;
}
.Text-Style-5 {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #191919;
}
.Text-Style {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.28px;
    text-align: center;
    color: #191919;
}
.Text-Style-3 {
    font-family: ToyotaType;
    font-size: 13px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.77;
    letter-spacing: 0.07px;
    text-align: center;
    color: white;
}

.footer-container {
    height: 50px;
    background-color: #000000;
    margin-top: 100px;
}

.home-title {
    padding: 50px 0;
}
/* 
.page-title {
} */

.page-title-detail {
    margin-bottom: 62px;
    font-weight: bold;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: 0.5px;
    width: 100%;
    margin-left: 9%;
}

.card-title.h5 {
    transition: all ease-in-out 0.2s;
    font-family: "Montserrat";
    font-size: 28px;
    font-weight: 600;
    width: 270px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.07;
    letter-spacing: -0.65px;
    text-align: center;
    color: #000000;
    margin-bottom: 8px;

    @media (max-width: 1000px) {
        width: 100%;
    }
}

.card-body {
    padding-top: 15px;

    span {
        font-family: "Montserrat";
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: -0.28px;
        color: #191919;
    }

    &:hover {
        .card-title {
            color: #eb0a1e;
        }

        .btn-ego {
            opacity: 1;
        }
    }
}
.cards {
    display: flex;
    flex-flow: row wrap;
}

.card {
    margin-top: 26px;
    width: 250px;
    height: 300px;
    border: none;
}

.btn-ego {
    font-family: "Montserrat";
    background-color: #191919;
    border-radius: 18px;
    font-size: 14px;
    font-weight: 600;
    width: 152px;
    height: 34px;
    opacity: 0;
    transition: all ease-in-out 0.3s;
    border: none;
    margin-top: 25px;
}

@mixin dropdown-active {
    background-color: rgba(209, 214, 214, 0.2);
    color: #191919;
}

.dropdown {
    position: relative;
    top: 102px;
    left: 0px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    &__menu {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        border-radius: 0 0 10px 10px;
        border: none;
        box-shadow: 2px 8px 20px 0 rgba(0, 0, 0, 0.15);
        width: 170px;
        padding: 0px;
        margin-top: 12px;
        opacity: 0;
    }

    &__menu.active {
        opacity: 1;
    }

    &__item {
        font-family: "Montserrat";
        width: 100%;
        height: 37px;
        padding: 0 0 0 16px;
        font-size: 10px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 3.5;
        letter-spacing: -0.1px;
        color: #191919;
        background: white;
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    &__item.active {
        background-color: #f7f7f7;
    }
}

@media (max-width: 766px) {
    .cards {
        justify-content: center;
    }
}

.img-main {
    transform: scaleX(-1);
    filter: FlipH;
}

@mixin font-ego {
    font-stretch: normal;
    font-style: normal;
    color: #373737;
    font-family: "Montserrat";
}

.model-title {
    font-size: 20px;
    font-weight: 600;
    @include font-ego;
    line-height: 1.35;
    letter-spacing: normal;
    margin-bottom: 8px;
}

.main-title {
    font-size: 50px;
    font-weight: 600;
    @include font-ego;
    line-height: 1.14;
    letter-spacing: -1px;
    margin-bottom: 37px;
}

.short-description {
    max-width: 385px;
    font-size: 16px;
    font-weight: normal;
    @include font-ego;
    line-height: 1.69;
    letter-spacing: -0.1px;
    margin-bottom: 87px;
}

.detail-container {
    display: flex;
    flex-direction: column;

    &__header {
        display: flex;
        flex-direction: row;
        padding-bottom: 40px;
    }

    &__text {
        padding-top: 50px;
    }
}

.details-content {
    background-color: #f7f7f7;
    padding-top: 43px;
    padding-bottom: 50px;
    width: 100%;
    overflow-x: scroll;

    &__card {
        padding: 15px;
    }
}

.details-content::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.detail-slide {
    display: -webkit-box;
}

.pagination-item {
    width: 8px;
    height: 8px;
    opacity: 0.5;
    background-color: #c5c5c5;
    opacity: 0.5;
    border-radius: 4px;
    margin-left: 25px;
    transition: all ease-out 0.4s;
}

.pagination-item.active {
    width: 39px;
    background-color: #4a4a4a;
}

.card-title {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.35;
    letter-spacing: -0.4px;
    color: #373737;
    margin-top: 20px;
    margin-bottom: 18px;
}

.card-carousel {
    padding: 0px;
    width: 270px;
    margin-left: 11px;
    margin-right: 11px;
    @media (max-width: 900px) {
        width: 95%;
    }
}

.arrow-container {
    position: absolute;
    width: 98%;
    overflow: hidden;
    display: flex;
    left: 1%;
    top: 650px;

    &__right {
        position: relative;
        left: 94.5%;
    }
    &__left {
        position: relative;
        left: 2.5%;
    }

    .arrow-img {
        position: inline-block;
        margin-left: auto;
        width: 20px;
        height: 42px;
        opacity: 0.75;
    }
}

@mixin font-ego {
    font-family: "Montserrat";
    font-stretch: normal;
    font-style: normal;
    color: #373737;
}

.title {
    @include font-ego;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.35;
    letter-spacing: -0.4px;
    margin-bottom: 13px;
}

.description {
    @include font-ego;
    font-size: 16px;
    line-height: 1.69;
    letter-spacing: -0.1px;
    margin-bottom: 0;
}
.first {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 60px;

    &-container {
        flex: 0.5;
        display: flex;
        justify-content: center;

        &__text {
            padding: 50px;
            max-width: 385px;
        }
    }
    &__image {
        flex: 0.5;
    }

    @media (max-width: 900px) {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
}

.second {
    display: flex;
    align-items: center;
    @media (max-width: 900px) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
